article{
  padding-bottom: 5%;
}

input[type=image]{
  width: 100%;
  border-radius: 25px;
}

input[type=submit]{

  text-align: center;
  background-color: white;
}

article div form {
    margin-left: 0%
}

.msg{
  margin-bottom: 15%;
}

main {
  width: 85%;
  float: right;
}
