form ul {
  list-style-type: none;
  padding: 0px;
}

form > ul > li {
  padding-bottom: 5%;
}

form > div div, form li > div {
  display: none; 
  width: 100%;   
  border: 1px dashed #333;  
  margin-bottom: 20px;
}

form > div div img, form li > div img {  
  width: 80%;
  height: auto; 
  display: block;
  padding: 10% 0px;   
}

/******************
 login-options.php
******************/

section a {
  border: 1px solid black;
}

section a:hover {
  font-weight: bold;
  border: 2px solid blacK;
}

/***********************
login/register-form.php
***********************/
img {
  width: 50px;
  height: 50px;
}

input, label {
    display:block;
}

form li button {
  border: 1px solid grey;
  border-radius: 5%;
  height: 30px;
}