form ul {
  list-style-type: none;
  padding: 0px;
}

form > ul > li {
  padding-bottom: 5%;
}

textarea {
  width: 100%;
  padding-bottom: 50%;
}

form > div div {
  display: none; 
  width: 100%;   
  border: 1px dashed #333;  
  margin-bottom: 20px;
}

form > div div img {  
  width: 80%;
  height: auto; 
  display: block;
  padding: 10% 0px;   
}