div > div > img{
  height: auto;
  width: 30%;
}
div > div >h2{
  text-align: center;
  padding: 10px;
}
div > div > button{
  border: none;
  background-color: white;
}
div:nth-child(3) > div > a > img{
  width: 10%;
}

@media screen and (max-width: 768px) {

  div:nth-child(3) > div > button {

    margin-left: 20px;
  }

  div:nth-child(3) > div > button > img{
    width: 80%;


  }
  div:nth-child(3) > div > a > img{
    width: 40%;

  }
  div:nth-child(3) > div > a {

      margin-right: -20px;
  }

}
